<%= form_with model: category do |form| %>

  <div class="form-group">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name, placeholder: "Categroy name", required: true, class: 'form-control' %>
  </div>

  <% options = [  ["ðŸ” Food and dining", "ðŸ”"],
    ["ðŸ›’ Groceries", "ðŸ›’"],
    ["ðŸš— Tranportation", "ðŸš—"],
    ["ðŸ¶ Pet expenses", "ðŸ¶"],
    ["ðŸ“š Book", "ðŸ“š"],
    ["ðŸ’» Electronics", "ðŸ’»"],
    ["ðŸŽ Gift", "ðŸŽ"],
    ["ðŸ  Housing", "ðŸ "],
    ["ðŸ¥ Health", "ðŸ¥"],
    ["ðŸŽ¬ Entertainment", "ðŸŽ¬"],
    ["ðŸ‘” Clothing", "ðŸ‘”"],
    ["ðŸŽ“ Education", "ðŸŽ“"],
    ["ðŸ§¾ Others", "ðŸ§¾"],
  ] %>


  <div class="form-group">
    <%= form.label :icon %>
    <%= form.select :icon, options_for_select(options, selected: category.icon), {prompt: "Select an icon" }, {class: 'form-control'} %>
  </div>


  <%= form.submit "#{editing ? 'Update' : 'Create'} Category", class: 'btn btn-primary' %>

  <%= link_to 'Cancel', categories_path, class: "btn btn-outline" %>
<% end %>